body {
    font-family: "Open Sans", sans-serif; 
}

/*background-image: url(https://images.unsplash.com/photo-1559619081-8fd2cc754ca3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80);
*/
  
  h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif; }
  
  .jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #323135, #13206d);
    color: white;
    margin: 0; }

/*Top Navigation Bar*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(161, 202, 202);
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul :hover {
  color: #13206d;
}

.active {
  background-image: linear-gradient(to left, #323135, #616eb8);
}


/* Logo */
.logo {
  width: 8%;
  height: auto;
  margin-left: 55%;
}

.topStoriesHeader {
  padding-top: 15px;  
}

/* Sizing Carousel Images */
.carousel-inner {
    margin-top: 2%;
    margin-right: 1%;
  }

.carousel-item p {
  font-size: medium;
  font-weight: bolder;
  color: black;
  background-color: gainsboro
}
    